<footer class="footer">
    <div class="container">
        <div class="col-12 d-flex flex-row justify-content-around mb-3">
            <span class="text-muted"><i class="fab fa-bitcoin"></i><small> Baptiste : 14WBGzZqLU3rM9eoFYsPu2v79dCoVUMN5X</small></span>
            <span class="text-muted"><i class="fab fa-bitcoin"></i><small> Gary : 1EeVWoyqxEg1LPbuaYJ6rEqrJhHc6YDnpV</small></span>
        </div>
        <div class="col-12 d-flex flex-column justify-content-center">
            <span class="text-muted d-flex justify-content-center"><small>© {{ today }} - B'Ours Polaire</small></span>
        </div>
    </div>

</footer>