<footer class="footer">
    <div class="container-fluid">
            <div class="col-lg-6 retour-ligne">
                    <span class="text-muted"><i class="fab fa-bitcoin"></i> Baptiste : 14WBGzZqLU3rM9eoFYsPu2v79dCoVUMN5X</span>
                    <span class="text-muted"><i class="fab fa-bitcoin"></i> Gary : e78d54r8f7t4895</span>
                </div>
        <div class="col-lg-6 retour-ligne">
            <span class="text-muted">© {{ today }} - B'Ours Polaire</span>
            <span class="text-muted">© Créateur : ROSSIGNOL Baptiste & DESHAYES Gary</span>
        </div>
    </div>

</footer>