@import '../../assets/variables.scss';

footer {
    padding: 20px 0;
    background-color: $primary-color;

    .container {
        display: flex;
        justify-content: center;

        .text-muted {
            color: white !important;
        }
    }
}

@media (max-width: 768px) {
    footer {
        margin-bottom: 50px;
    }
}