
.col-md-6 {
    margin-bottom: 30px;

    .mb-4 {
        background-color: #fff;
        height: 100%;

        .news {
            a {
                text-align: right;
            }
            .news-top {
                img {
                    width: 100%;
                    height: 100%;
                }
                h4 {
                    margin-top: 10px;
                }
            }
        }
    }
}
