<div class="ui inverted segment">
  <div class="ui container">
    <div class="ui inverted secondary pointing menu">
        <div class="item">
            <img id="logo" src="../assets/img/logo.png">
          </div>
        <a class="item " routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Accueil </a>
        <a class="item">Actualités économiques </a>
        <a class="item"  routerLink="/tutoriel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Tutoriel </a>
        <a class="item">Playlists </a>
        <div class="right menu">
          <div class="ui simple account-menu dropdown item">
            <div class="account-img">
              <img class="ui circular image" src="assets/img/account-logo.png">
            </div>
              <div class="menu">
                <a class="item" href="#">Paramètres</a>
                <a class="item">Déconnexion</a>
            </div>
        </div>
      </div>
  </div>
</div>