@import '../../assets/variables.scss';

.navbar {
    padding: 10px 140px;
    background-color: $primary-color !important;

    .account-img {
        img {
            border-radius: 20px;
            height: 40px;
            width: 40px;
        }
    }

    li {
        list-style: none;
    }

    #logo {
        width: 150px;
        height: 35px;
    }

    .connected {
        display: flex;
        flex-direction: row;
    }
}
#logo {
    width: 150px;
    height: 35px;
}

a{
    cursor: pointer;
}
