<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img id="logo" src="../assets/img/logo.png">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Accueil</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " routerLink="/actualite-economique" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Actualités économiques</a>
      </li>
      <li class="nav-item">
          <a class="nav-link "  routerLink="/tutoriel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Tutoriel</a>
      </li>
      <li class="nav-item">
          <a class="nav-link "  routerLink="/playlists" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Playlists</a>
      </li>
    </ul>
    <div class="account-img">
        <img class="ui circular image" src="assets/img/account-logo.png">
    </div>
  </div>
</nav>