<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="">
    <img id="logo" src="../assets/img/logo.png">
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="lien-accueil" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">Accueil</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/actualite-economique" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Actualités économiques</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/tutoriel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Tutoriel</a>
      </li>
      <li class="nav-item" *ngIf='isLogged()'>
          <a class="nav-link" id="lien-playlists" routerLink="/playlists" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="signin()" *ngIf="!isLogged()">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="alertToken()" *ngIf="isLogged()">Token alert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="alertProfile()" *ngIf="isLogged()">profile alert</a>
      </li>
    </ul>
    <div class="right menu" *ngIf="isLogged()" >
      <a class="nav-link" href="#">Paramètres</a>
      <a class="nav-link" (click)="disconnect()">Déconnexion</a>
      <div class="account-img">
        <img class="ui circular image" [src]="user.w3.Paa">
      </div>
    </div>
  </div>
</nav>
