@import '../../assets/variables.scss';

.navbar {
    padding: 10px 140px;
    background-color: $primary-color !important;
    margin-bottom: 20px;

    .account-img {
        img {
            border-radius: 20px;
            height: 40px;
            width: 40px;
        }
    }

    li {
        list-style: none;
    }

    #logo {
        width: 150px;
        height: 35px;
    }

    .connected {
        display: flex;
        flex-direction: row;
    }

    .dropdown-menu {
        margin: .125rem -300px 0;

        .nav-item {
            margin: 0 10px;
        }
    }
}

#logo {
    width: 150px;
    height: 35px;
}

a {
    cursor: pointer;
}

.menu-mobile {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .navbar-collapse {
            flex-basis: 0;
            display: flex;
            justify-content: flex-end;
        }

        .collapse:not(.show) {
            display: inherit;

            .mr-auto {
                display: none;
            }
        }
    }
    .menu-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 5;
        background-color: $primary-color;
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                margin: 0 10px;

                a {
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    i {
                        margin: 0 auto;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}