<div id="searchYoutubeDiv">
    <div class="input-group">
        <input #search type="text" placeholder="Cherchez vos vidéos" (keyup.enter)="getVideos(search.value)" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="getVideos(search.value)" type="button"><i class="fas fa-search"></i></button>
        </span>
      </div>
</div>

<div class="buttonPagination">
    <button type="button" class="btn btn-light" (click)="getVideosPrev()">Précédent</button>
    <button type="button" class="btn btn-light" (click)="getVideosNext()">Suivant</button>
</div>
<div class="row">
    <div *ngFor="let video of videos" class="col-4" routerLink="/video/{{ video.id.videoId }}">
        <div class="card">
            <img class="card-img-top" [src]="video.snippet.thumbnails.high.url" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ video.snippet.title }}</h5>
                <p class="card-text">{{ video.snippet.description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="buttonPagination">
    <button type="button" class="btn btn-light" (click)="getVideosPrev()">Précédent</button>
    <button type="button" class="btn btn-light" (click)="getVideosNext()">Suivant</button>
</div>