<div id="searchYoutubeDiv" class="ui input fluid">
    <input #search type="text" placeholder="Cherchez vos vidéos" (keyup.enter)="getVideos(search.value)">
    <div (click)="getVideos(search.value)" class="ui button">
        <i class="fas fa-search"></i>
    </div>
</div>

<div class="buttonPagination">
    <div class="ui button" (click)="getVideosPrev()">Précédent</div>
    <div class="ui button" (click)="getVideosNext()">Suivant</div>
</div>

<div class="ui grid">
    <div *ngFor="let video of videos" class="eight wide column">
        <iframe id="player" type="text/html" width="100%" height="100%" [src]="video.urlSecure" frameborder="0"></iframe>
        <h4>{{ video.snippet.channelTitle}}</h4>
    </div>
</div>
<div class="buttonPagination">
    <div class="ui button" (click)="getVideosPrev()">Précédent</div>
    <div class="ui button" (click)="getVideosNext()">Suivant</div>
</div>