@import '../../assets/variables.scss';

#searchYoutubeDiv{
    margin: 10px 0 10px 0;
}

.buttonPagination{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;

    .button {
        color: white;
        background-color: $primary-color;
        font-size: 0.8em;
    }
}

.card {
    max-height: 450px;
    margin: 10px 0;
    cursor: pointer;

    .card-body{
        padding: 1rem;

        .card-title {
            color: #000;
            font-weight: 600;
        }
        .card-text {
            font-size: 10px;
        }
    }

}
