.menu-devise {
    margin: 5%;

    table {
        margin-bottom: 0%;

        .refresh {
            display: flex;
            justify-content: space-between;

            i {
                color: white;
            }
        }
    }
}