<form id="form-playlist" class="form-group" > 
  <label for="title">Titre de la playlist :</label>
  <input type="text" required placeholder="Titre de la playlist" name="title" id="inputTitle" [(ngModel)]="inputTitle" class="col-12 form-control">
  <label for="description">Description de la playlist :</label>
  <textarea class="form-control" rows="5" name="description" id="inputDescription" [(ngModel)]="inputDescription" class="col-12"></textarea>
  <label for="privacyStatus">Statut :</label>
  <select name="privacyStatus" id="selectStatus" [(ngModel)]="selectStatus">
    <option value="0"></option>
    <option value = 1>Privée</option>
    <option value = 2>Public</option>
    <option value = 3>Non répertoriée</option>
  </select>
</form>
<div #btnAjoutPlaylist *ngIf="ajoutPlaylist == true; else btnModifPlaylist">
    <button class="btn btn-primary" (click)="ajouterPlaylist($event)">Ajouter</button>
</div>

<ng-template #btnModifPlaylist>
    <button class="btn btn-primary" (click)="modifierPlaylist($event)">Modifier</button>
</ng-template>