/* Extra Small Devices */
@media screen and (max-width: 768px) {
    /* ----- GLOBAL ----- */
    /* Retrait de la fonctionnalité Api-Devise */
    api-devise {
        display: none;
    }

    /* Retrait du widget TradingView */
    div.menu-calendar {
        display: none;
    }

    /* Menu */


    /* ----- ACCUEIL ----- */
    /* Disposition des vidéos */
    .ui.grid > [class*="ten wide"].column {
        width: 90% !important;
        margin: 0 auto;
    }

    .ui.grid > [class*="eight wide"].column {
        width: 100% !important;
    }
}

/* Small Devices */
@media screen and (min-width: 768px) {

}

/* Medium Devices */
@media screen and (min-width: 992px) {

}

/* Large Devices */
@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {

    .menu-devise {
        display: none;
    }

}