.row {
    max-width: 100%;

    .col-2 {
        display: flex;
        justify-content: center;
    }
    .col-3 {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .row {
        margin-left: 0;

        .col-7 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}